[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
WTForms = "*"
requests = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.6"
